@import "../../../index.scss";
.p-dropdown {
  width: 100%;
  padding: 10px;
  border-radius: $border-radius;
  border: 1px solid $gray-neutral;
}

.p-dropdown-items {
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  color: $text-color;
  border-radius: $border-radius;
  border: 1px solid $gray-neutral;
  overflow: hidden;
  li {
    padding: 5px;
  }
  li:hover {
    background-color: #171717;
  }
}
.p-dialog-header-close {
  color: $text-color;

  &:hover {
    color: $gray-neutral;
  }
}
