@import "../../index.scss";

.weather-entry-form-dialog {
  border: $border;

  background-color: $background-color;
  border-radius: $border-radius;
  padding: 30px;
  box-shadow: $box-shadow;
  color: $text-color;
  max-width: 490px;
  width: 100%;
}
.p-dialog-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.p-fluid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

.field {
  width: 100%;
  label {
    font-weight: bold;
    color: $secondary-text-color;
    font-size: 14px;
  }
}
.alert-message {
  color: $danger;
}
