$palette: (
  accent: (
    100: #73a5ff,
    300: #4c8dff,
    500: #397df6,
    700: #2f68cc,
    900: #234e99,
  ),
  danger: (
    100: #ff8099,
    300: #f23d61,
    500: #cc1439,
    700: #990f2b,
    900: #660a1d,
  ),
  dark: (
    100: #4c4c4c,
    300: #333333,
    500: #171717,
    700: #0d0d0d,
    900: #000000,
  ),
  light: (
    100: #fff,
    300: #f7fbff,
    500: #edf3fa,
    700: #d5dae0,
    900: #8d9094,
  ),
  success: (
    100: #80ffbf,
    300: #22e584,
    500: #14cc70,
    700: #0f9954,
    900: #0a6638,
  ),
  warning: (
    100: #ffd073,
    300: #e5ac39,
    500: #d99000,
    700: #996600,
    900: #664400,
  ),
);

$background-color: map-get(map-get($palette, dark), 300);
$text-color: #ffffff;
$secondary-text-color: map-get(map-get($palette, light), 900);
$danger: map-get(map-get($palette, danger), 500);
$green-safe: map-get(map-get($palette, success), 500);
$border: solid 1px map-get(map-get($palette, dark), 100);
$border-radius: 5px;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
$button-color: map-get(map-get($palette, accent), 500);
$active-button-color: map-get(map-get($palette, accent), 700);
$focus-field: map-get(map-get($palette, accent), 500);
$hover-field: map-get(map-get($palette, light), 900);
body {
  background-color: #0d0d0d;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  display: block;
  margin: 0;
}
